.aboutpage{
    padding: 0;
    margin: 0;
}
.aboutwrap{
    background-color: rgb(245, 250, 255);
}
.aboutbgimg {
    background-image: url('../assets/homeimgs/abouti1.jpg');
    background-size: cover; 
    background-position: center; 
    width: 100vw;
    height: 85vh;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .aboutbgimg::before {
    content: "";
    width: 100vw;
    height: 85vh;
    background: linear-gradient(black, gray);
    opacity: 0.8;
    position: absolute;

  }
  
  .aboutiusdiv{
    color: white;
    position: relative;
    font-family: serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    gap: 2rem;
    font-family: 'Dancing Script', cursive;
    animation: moveAndFadeLeftToRight 1s ease-in-out;
  }
  .aboutbtn{
    border-radius: 1rem;
    padding: 10px;
  }
  .ourgymdetails{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
flex-wrap: wrap;
gap: 2.5rem;
  }
  .ourgym1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
  }
  .ourgym2{
    margin-top: -2rem;
  }
  
  .fecilitiesabout{
    width: 77vw;
    border-radius: 0 2rem 2rem 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    gap: 1rem;
    font-size: larger;
    display: flex;
    animation: moveAndFadeLeftToRight 1s ease-in-out;
    background-color: rgb(254, 200, 227);
  }
  
  .abouticons{
   font-size: 2rem;
   color: red;
  }
.aboutknow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
     flex-wrap: wrap-reverse;
     gap: 2.5rem;
}
.aboutknowimg{
    margin-top: -2rem;
}
.aboutknowcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}
.getstartabout{
    background-color: rgb(251, 243, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
    height: 50vh;
}
.getstartabout h2{
    color: rgb(172, 5, 5);
}


@media (min-width: 481px) and (max-width: 768px){
    
}